.card{
  border-color: transparent;
  box-shadow: 0 1px 5px 1px rgba(0,0,0,0.07);
  border-radius: 10px;
  margin: 20px 0;
  padding: 20px;
}

.bordered{
  border: 2px solid #ddd;
  border-radius: 10px;
}

.bordered-active{
  border: 2px solid #c8efcf;
  border-width: 2px;
  border-radius: 10px;
}

.rating-img{
  width: 26px;
}

.rating-img-unfill{
  width: 26px;
  filter: grayscale(100%);
}

.tumb {
  position: relative;
}

.tumb-counter{
  position: absolute;
  bottom: 30px;
  right: 20px;
}

.tumb-banner{
  object-fit: cover;
  width: 100%;
  border: 1px solid #eee;
  border-radius: 10px;
}

.tumb-img{
  object-fit: cover;
  width:100%;
  cursor: pointer;
}